# Introduction to Data Science
## Homework 2

Student Name: Rong Feng

Student Netid: rf1316
***

### Part 1: Case study (5 Points)
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

**[STUDENT ANSWER]**

To tackle Target's problem of predicting pregnancy and delivery date based on shopping patterns, we can formalize the Problem, Data, Feature Extraction/Labeling, Modeling/Hypothesis Selection and Training sections of the problem by examining each part separately. In our terminology, this is a supervised learning problem. The write up will be made under the assumption that we are not sensitive to the considerations of Public Relations for the company and does not consider the sensitivity of information.

#### Problem

In order to target customer habits when they are the most open to change, we need to be able to predict these periods of time based on information we have on each customer. One such time in many peole's lives is the arrival of a new baby. However, since births records are public, there is a lot of competition amongst marketers immediately after birth. We would like to identify high probability pregnancies before the delivery date. The target variables in this case would be whether a person is pregnant and their delivery date.

#### Data

As the article as indicated, Target collects a large amount of information on their customers and associates all of the data on each customer with a unique GuestID. This data includes the time, types and amount of product a customer is purchasing as well as the location/medium through which the customer enacted the transaction. It was detailed explicitly in the article, but it is also possible that the method of transaction (cash or credit or other) is record as well. Further, personal information about the guest, such as age, sex, income bracket could also be tracked.

#### Feature Extraction / Labeling

The features to consider is not only the products that the guest is purchasing, but also the timing and method that those products are being purchased. When available, we should also extract the personal information such as age, sex and income as features as they may have an impact on the target variables. For labeling, the baby-shower registry is a good starting point as we would know people who create a baby-shower registry is likely pregnant. We can also expand the labeled dataset by looking at the public birth records as indicated in the article. Finally we can further expand the dataset by exploring the products that confirm a baby such as diapers and formula. When considering the three different ways that data is labeled, we will need to becareful in dealing with potential biases between the labeling types - perhaps some methods are better at predicting true births than others.

#### Modeling / Hypothesis Selection

Since we are not only interested in the boolean target variable of whether a person is pregnant, but also interested in predicting the delivery date, not only do we have a classification problem, we also have a regression problem. However, it is possible to discretize the delivery date and reduce the full problem to just a classification problem. For example, we can discretize it to {'Not Pregnant', 'First Trimester', 'Second Trimester', 'Third Trimester'}. If we choose to approach it as a classification problem, we can try the decision tree approach covered in class, as well as differet linear or non-linear classifiers or neural networks. Alternatively, if we decide to keep the problem as a classification {'Pregnant', 'Not Pregnant'} in conjunction with a regression problem (how many months to delivery), we can explore first the classification techniques mentioned above for the classification problem and then various regression techniques such as ols, gls, logit and neural networks.

#### Training

This will depend on the model that we choose, some are closed form and others are iterative. In each case we will need to carefully split our data into Training, Validation and Test sets to train on the Training set, score using the validating set during training and then estimate real world performance using the Test set. It is very important to leave the test set untouched during training and only use it at the very end of the project.

### Part 2: Exploring data in the command line (4 Points)
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 (see original directions) and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file? (look up 'wc' command)

In [1]:
# Place your code here
!command wc -l data/advertising_events.csv

10341 data/advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [2]:
# Place your code here
!command cut -d ',' -f 1 data/advertising_events.csv | sort | uniq | wc -l

732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [3]:
# Place your code here
!command cut -d ',' -f 3 data/advertising_events.csv | sort | uniq -c | sort -nr

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [4]:
# Place your code here
!command grep '^37,' data/advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically (16 Points)

1\. (1 Point) Download the data set `"data/ads_dataset.tsv"` and load it into a Python Pandas data frame called `ads`.

In [5]:
import pandas as pd

In [6]:
# Place your code here
ads = pd.read_csv(r'data/ads_dataset.tsv', delimiter='\t')
ads.head()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

2\. (4 Points) Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` method returns a useful series of values that can be used here.

In [7]:
def getDfSummary(input_data):
    # Place your code here
    output_data = input_data.describe().T  # getting most descriptive columns
    output_data['number_nan'] = input_data.isna().sum()  # adding number of nan counts
    output_data['number_distinct'] = input_data.nunique()  # adding number of distinct counts
    output_data.drop(columns=['count'], inplace=True)  # don't need the count column
    return output_data

In [8]:
df_summ = getDfSummary(ads)
df_summ

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `use %timeit`

In [9]:
# Place your code here
%timeit getDfSummary(ads)

60.8 ms ± 156 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\. (2 Points) Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [10]:
# Place your code here
df = getDfSummary(ads)
df[df['number_nan'] > 0]

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
buy_freq,1.240653,0.782228,1.0,1.0,1.0,1.0,15.0,52257,10

5\. (4 Points) For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be? Don't just show code here. Please explain your answer.

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [12]:
# Place your code here
df_nan = ads[pd.isnull(ads['buy_freq'])]
df_nan_summ = getDfSummary(df_nan)
print("length of nan dataframe: %s" % df_nan.shape[0])
display(df_nan_summ)

length of nan dataframe: 52257

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

In [13]:
df_comp = df_summ[['number_distinct']].join(df_nan_summ[['number_distinct']], how='inner', lsuffix='_orig')
df_comp['chg'] = df_comp['number_distinct'] - df_comp['number_distinct_orig']
df_comp

                     number_distinct_orig  number_distinct   chg
isbuyer                                 2                1    -1
buy_freq                               10                0   -10
visit_freq                             64               48   -16
buy_interval                          295                1  -294
sv_interval                          5886             5112  -774
expected_time_buy                     348                1  -347
expected_time_visit                 15135            13351 -1784
last_buy                              189              189     0
last_visit                            189              189     0
multiple_buy                            2                1    -1
multiple_visit                          2                2     0
uniq_urls                             207              207     0
num_checkins                         4628             4570   -58
y_buy                                   2                2     0

In [14]:
print("multiple_buy unique values for all rows", ads['multiple_buy'].unique())
print("buy_freq unique values for all rows", ads['buy_freq'].unique())
print("multiple_buy unique values for rows with missing buy_freq:", df_nan['multiple_buy'].unique())

multiple_buy unique values for all rows [0 1]
buy_freq unique values for all rows [nan  1.  2.  3.  4.  5.  6. 11.  7. 15.  8.]
multiple_buy unique values for rows with missing buy_freq: [0]

In [15]:
print("isbuyer unique values for all rows", ads['isbuyer'].unique())
print("isbuyer unique values for rows with missing buy_freq:", df_nan['isbuyer'].unique())

print("buy_interval unique values for rows with missing buy_freq:", df_nan['buy_interval'].unique())
print("expected_time_buy unique values for rows with missing buy_freq:", df_nan['expected_time_buy'].unique())

isbuyer unique values for all rows [0 1]
isbuyer unique values for rows with missing buy_freq: [0]
buy_interval unique values for rows with missing buy_freq: [0.]
expected_time_buy unique values for rows with missing buy_freq: [0.]

**[Student Explanation]**

Question 5: It looks like for the rows where buy_freq is missing, the exhibit the following commonalities:
- multiple_buy = 0
- isbuyer = 0
- buy_interval = 0
- expected_time_buy = 0

This suggests that these people in the end did not purchase a home. Therefore we should fill the nan values with 0 instead.

6\. (4 Points) Which variables are binary?

In [16]:
# Place your code here

display(df_summ.sort_values('number_distinct'))
possible_bin_list = df_summ[df_summ['number_distinct'] <= 2].index

for col_name in possible_bin_list:
    print("Unique values for %s are %s" % (col_name, str(ads[col_name].unique())))

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135

Unique values for isbuyer are [0 1]
Unique values for multiple_buy are [0 1]
Unique values for multiple_visit are [0 1]
Unique values for y_buy are [0 1]

These look all to be binary fields:
- isbuyer
- multiple_buy
- multiple_visit
- y_buy